<div class="videoframe_group">

  <div class="video_group">
    <div id="opentok2">
    </div>
    <a href="invite" rel="shadowbox;width=550;height=350"><img src="/assets/invite.jpg"/></a>
  </div>
</div>
