<div id="container">

  <div id="homeheader">
    <img src="assets/title2.png"/>
  </div>
  <!-- homeheader -->
  <div class="separator">
  </div>
  <!-- seperator -->

  <div id="videoframe">

    <%= render :partial => 'youtube' %>

  </div>
  <!-- videoframe -->

  <div id="practice">
    <a href="<%= page2_path %>"><img src="assets/practicebutton.png"/></a>
  </div>

</div><!-- container -->





