<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  {% load static %}
  {% get_static_prefix as STATIC_PREFIX %}
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Collaboratr</title>
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap-1.2.0.css" media="screen"/>
  <!--	<link rel="stylesheet" type="text/css" media="screen" href="custom.css" /> -->
  <script type="text/javascript">
    var projectId = '{{ project_id }}';
    var archive1 = '{{ archive1 }}';
    var archive2 = '{{ archive2 }}';
  </script>
  <script src="http://staging.tokbox.com/v0.91/js/TB.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="{{ STATIC_PREFIX }}json2.js"></script>
  <!--	<script src="{{ STATIC_PREFIX }}ajaxtest.js"></script> -->
  <script src="{{ STATIC_PREFIX }}karaoke.js"></script>
</head>
<body>
<div class="container">
  <div id="header"><h1>KARAOKE.EDU</h1></div>
  <div id="main">Project ID: {{ project_id }}</div>
</div>
</body>